<!doctype html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="https://static.nowcoder.com/images/logo_87_87.png"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/global.css" />
	<title>NowCoder-my post</title>
</head>
<body>
	<div class="nk-container">
		<!-- header -->
		<header class="bg-dark sticky-top" th:replace="index::header">
		</header>

		<!-- content -->
		<div class="main">
			<div class="container">
				<!-- choice -->
				<div class="position-relative">
					<ul class="nav nav-tabs">
						<li class="nav-item">
							<a class="nav-link" href="profile.html">personal information</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" href="my-post.html">my post</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="my-reply.html">my reply</a>
						</li>
					</ul>
					<a href="profile.html" class="text-muted position-absolute rt-0">return to homepage&gt;</a>
				</div>
				<!-- my post -->
				<div class="mt-4">
					<h6><b class="square"></b> post</h6>
					<ul class="list-unstyled mt-4 pl-3 pr-3">
						<li class="border-bottom pb-3 mt-4">
							<div class="font-size-16 text-info">
								<a href="#" class="text-info">Hi</a>
							</div>
							<div class="mt-1 font-size-14">
								xxxx
							</div>
							<div class="text-right font-size-12 text-muted">
								like <i class="mr-3">11</i> post on <b>xxxxx</b>
							</div>
						</li>
					</ul>
					<!-- pagination -->
					<nav class="mt-5" th:replace="index::pagination">
					</nav>
				</div>				
			</div>
		</div>

		<!-- footer -->
		<footer class="bg-dark" th:replace="index::footer">
		</footer>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<script src="../js/global.js"></script>
</body>
</html>
