<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="https://static.nowcoder.com/images/logo_87_87.png"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/global.css}" />
	<title>NowCoder-404</title>
</head>
<body>
<div class="nk-container">
	<!-- Header -->
	<header class="bg-dark sticky-top" th:replace="index::header">
		<div class="container">
			<!-- navigation -->
			<nav class="navbar navbar-expand-lg navbar-dark">
				<!-- logo -->
				<a class="navbar-brand" href="#"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<!-- Function -->
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item ml-3 btn-group-vertical">
							<a class="nav-link" href="../../index.html">Front Page</a>
						</li>
						<li class="nav-item ml-3 btn-group-vertical">
							<a class="nav-link position-relative" href="../letter.html">Message<span class="badge badge-danger">12</span></a>
						</li>
						<li class="nav-item ml-3 btn-group-vertical">
							<a class="nav-link" href="../register.html">Sign Up</a>
						</li>
						<li class="nav-item ml-3 btn-group-vertical">
							<a class="nav-link" href="../login.html">Log in</a>
						</li>
						<li class="nav-item ml-3 btn-group-vertical dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<img src="http://images.nowcoder.com/head/1t.png" class="rounded-circle" style="width:30px;"/>
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item text-center" href="../profile.html">Homepage</a>
								<a class="dropdown-item text-center" href="../setting.html">Account Settings</a>
								<a class="dropdown-item text-center" href="../login.html">Sign Out</a>
								<div class="dropdown-divider"></div>
								<span class="dropdown-item text-center text-secondary">nowcoder</span>
							</div>
						</li>
					</ul>
					<!-- Search-->
					<form class="form-inline my-2 my-lg-0" action="../search.html">
						<input class="form-control mr-sm-2" type="search" aria-label="Search" />
						<button class="btn btn-outline-light my-2 my-sm-0" type="submit">search</button>
					</form>
				</div>
			</nav>
		</div>
	</header>

	<!-- content -->
	<div class="main">
		<div class="container pl-5 pr-5 pt-3 pb-3 mt-3 mb-3">
			<img th:src="@{/img/404.png}" >
		</div>
	</div>

	<!-- footer -->
	<footer class="bg-dark">
		<div class="container">
			<div class="row">
				<!-- bar code -->
				<div class="col-4 qrcode">
					<img src="https://uploadfiles.nowcoder.com/app/app_download.png" class="img-thumbnail" style="width:136px;" />
				</div>
				<!-- company information -->
				<div class="col-8 detail-info">
					<div class="row">
						<div class="col">
							<ul class="nav">
								<li class="nav-item">
									<a class="nav-link text-light" href="#">About us</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-light" href="#">Join us</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-light" href="#">Feedback</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-light" href="#">Services</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-light" href="#">Contact us</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-light" href="#">Disclaimer</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-light" href="#">Link</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<ul class="nav btn-group-vertical company-info">
								<li class="nav-item text-white-50">
									Location
								</li>
								<li class="nav-item text-white-50">
									Contact information
								</li>
								<li class="nav-item text-white-50">
									NowCoder Technology ©2022 All rights reserved
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script th:src="@{/js/global.js}"></script>
</body>
</html>
