<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="https://static.nowcoder.com/images/logo_87_87.png"/>
    <title>NowCoder-Activate account</title>
</head>
<body>
	<div>
		<p>
			Hi <b th:text="${email}">xxx@xxx.com</b>,
		</p>
		<p>
			Thanks for signing up with NowCoder Community! You must follow this link to activate your account:
			<br/>
			<a th:href="${url}">this link</a>
			<br/>
			Have fun, and don't hesitate to contact us with your feedback.
			<br/>
			<br/>
			The NowCoder Team
		</p>
	</div>
</body>
</html>